<div class="container">
    <header class="d-flex justify-content-center " >
        <ul class="nav nav-pills ">
            <li class="nav-item"><a th:href="@{/ }" class="nav-link text-white" th:text="#{navbar.home}">
                Register</a></li>
            <li class="nav-item"><a th:href="@{/register }" class="nav-link text-white" th:text="#{navbar.form}">
                Register</a></li>
            <li class="nav-item"><a th:href="@{/registered-visits}" class="nav-link text-white"
                                    th:text="#{navbar.bookedTimes}">
                Features</a></li>
        </ul>
    </header>
</div>