
<html>
<head>

</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
Dentist form

<form action="#" th:action="@{/dentist-form}" th:object="${DentistAddNewVisitTimeDTO}" method="post">
    <table>
        <tr>
            <td><p th:text="#{dentistForm.firstName}">dentist.name</p></td>
            <td><input type="text" th:field="*{firstName}"/></td>
            <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">name.error</td>
        </tr>
        <tr>
            <td><p th:text="#{dentistForm.lastName}">dentist.lastName</p></td>
            <td><input type="text" th:field="*{lastName}"/></td>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">name.error</td>
        </tr>
        <tr>
            <td><p th:text="#{dentistForm.licenceId}">licence.id</p></td>
            <td><input type="text" th:field="*{licenceId}"/></td>
            <td th:if="${#fields.hasErrors('licenceId')}" th:errors="*{licenceId}">date.error</td>
        </tr>
        <tr>
            <td><p th:text="#{dentistForm.visitTime}">visit.time</p></td>
            <td><input type="text" th:field="*{visittime}"/></td>
            <td th:if="${#fields.hasErrors('visitTime)}" th:errors="*{visitTime}">date.error</td>
        </tr>
        <tr>
            <td>
                <button type="submit" th:text="#{register.visit}"></button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>