<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Title</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<table border="1">

    <tr>
        <th>Visitor ID</th>
        <th>Dentist ID</th>
        <th>Visit date</th>
    </tr>
    <tr th:each="visit : ${registeredVisits}">
        <td th:text="${visit.getVisitorId()}">visitor.id</td>
        <td th:text="${visit.getDentistId()}">dentist.id</td>
        <td th:text="${visit.getVisitTimeToString()}">date</td>
        <td>
            <form th:action="@{/delete-visit}" th:object="${DentistVisitDTO}" method="post">
                <input type="hidden" name="*{visitId}" th:value="${visit.getId()}"/>
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>edit</td>
    </tr>

    <tr>
        <td>
            <a href="/">Esilehel</a>
        </td>
    </tr>
</table>
</body>
</html>